<body>
  <p class="hello bar">
    One
  </p>
  <p class="hello baz quux">
    Two
  </p>
  <p class="hello">
    Three
  </p>
  <p class="hello bar baz">
    Four
  </p>
  <p id="world" class="bar">
    One
  </p>
  <p id="world" class="baz quux">
    Two
  </p>
  <p id="world">
    Three
  </p>
  <p id="world" class="bar baz">
    Four
  </p>
  <p class="hello bar" id="world">
    One
  </p>
  <p class="hello baz quux" id="world">
    Two
  </p>
  <p class="hello" id="world">
    Three
  </p>
  <p class="hello bar baz" id="world">
    Four
  </p>
  <p class="hello world bar">
    One
  </p>
  <p class="hello world baz quux">
    Two
  </p>
  <p class="hello world">
    Three
  </p>
  <p class="hello world bar baz">
    Four
  </p>
  <p class="hello bar">
    One
  </p>
  <p class="hello baz quux">
    Two
  </p>
  <p class="hello">
    Three
  </p>
  <p class="hello bar baz">
    Four
  </p>
  <p class="hello world bar">
    One
  </p>
  <p class="hello world baz quux">
    Two
  </p>
  <p class="hello world">
    Three
  </p>
  <p class="hello world bar baz">
    Four
  </p>
  <p class="bar">
    One
  </p>
  <p class="baz quux">
    Two
  </p>
  <p>Three</p>
  <p class="bar baz">
    Four
  </p>
</body>
